@import "../../common/reset.min.css";
#app{ width:750px; height:100%; margin:0 auto;background: wheat;overflow: visible}
#app .creater{ position: relative; height:823px;overflow:hidden;}
#app .creater .creater-bg {display: block; width:100%;}
#app .creater .creater-c { position: absolute; top:0; left:0; width:100%; height:100%;background-color: rgba(0,0,0,.8);}
#app .creater .creater-c .video-a{ height:727px;}
#app .creater .creater-c .video-a .video{margin-top: 23px; height:704px; width:100%;}
#app .creater .creater-c .info{ height:96px;}

/*广告*/
#app .ad { position: fixed; left:0;bottom: 0; width:750px; height:85px;}
#app .ad .ad-img { width:100%; height:100%;}